html, body {
	height:100%;
	line-height: 1;
	background-color: rgb(219, 232, 240);
}

.menuBox {
	width: 800px;
	height: 200px;
	padding: 10px;
	resize: both;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: white;
}

.menuButton {
	height: 30px;
	background-color:white;
	display:inline-block;
	padding: 6px 10px;
	vertical-align:middle;
	overflow:hidden;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	margin: 5px;
	
	border-radius: 10px;
	border-color: black;
	border-width: 1px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.menuButton:disabled {
	background-color:lightgoldenrodyellow;
	cursor:not-allowed;
	color:darkgrey;
}

.menuButtonCurrent {
	background-color:orange;
	color:black;
	font-weight: bold;
}

.textPresenter {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 20px;
	width: 1000px;
	overflow: auto;
	font-size: 22pt;
	font-family: monospace;
	vertical-align: bottom;
	letter-spacing: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 255);
	background-color: white;
	box-shadow: 0 0 3px rgb(0, 255, 255), 0 0 5px rgb(0, 0, 255);
}

.textPresenter .done {
	color: black;
}

.textPresenter .undone {
	color: darkkhaki;
}

.textPresenterCaret {
	background-color: blue;
	color: white;
	border-width: 1px;
	letter-spacing: 2px;
	border-style: solid;
}

.keyBoard {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 400px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(97, 97, 97);
	background-color: rgb(233, 233, 233);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.keyButton {
	position: absolute;
	width: 60px;
	height: 60px;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	background-color: lightgray;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-family: monospace;
	padding-top: 15px;
}

.keyButtonExpected {
	background-color: tomato;
	animation-name: keyButtonExpectedAnimation;
	animation-duration: 0.8s;
	animation-iteration-count: 9999;
}

.keyButtonMain {
	border-color: darkblue;
	border-width: 3px;
}

.keyButtonActiveFinger {
	background-color: rgb(225, 221, 138);
}

@keyframes keyButtonExpectedAnimation {
  0%   {background-color: lightgray}
  50%  {background-color: tomato}
  100% {background-color: lightgray}
}

