html, body {
	height:100%;
	line-height: 1;
	background-color: white;
}

.textPresenter {
	margin: auto;
	padding: 20px;
	width: 80%;
	height: 200px;
	overflow: auto;
	font-size: 22pt;
	font-family: monospace;
	vertical-align: bottom;
	letter-spacing: 1px;
}

.textPresenter .done {
	color: black;
}

.textPresenter .undone {
	color: darkkhaki;
}

.textPresenterCaret {
	background-color: blue;
	color: white;
	border-width: 1px;
	letter-spacing: 2px;
	border-style: solid;
}

.keyBoard {
	position:relative;
	margin: auto;
	width: 1200px;
	height: 600px;
	/*background-image: url("img/kbrd.webp");*/
	background-repeat: no-repeat;
	background-position: center;
}

.keyButton {
	position: absolute;
	width: 60px;
	height: 60px;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	background-color: lightgray;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-family: monospace;
	padding-top: 15px;
}

.keyButtonExpected {
	background-color: tomato;
	animation-name: keyButtonExpectedAnimation;
	animation-duration: 0.5s;
	animation-iteration-count: 9999;
}

.keyButtonMain {
	border-color: darkblue;
	border-width: 3px;
}

@keyframes keyButtonExpectedAnimation {
  0%   {background-color: lightgray}
  50%  {background-color: tomato}
  100% {background-color: lightgray}
}

